@font-face {
  font-family: "futura-bold";
  src: url("~assets/fonts/futura-bold-new.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "futura";
  src: url("~assets/fonts/futura-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*$mainColor: #111;*/
$textColor: #111;
$mainColor: white;
$headerColor: #333;

body {
  color: $textColor;
  font-family: "futura";
  background: $mainColor;
  text-align: center;
}

a {
  text-decoration: none;
  color: $textColor;
  transition: .3s color;
}

/*
a:hover {
  color: rgba($textColor, .9);
  transition: .3s color;
}
*/

h3, h4 {
  color: $headerColor;
}
